<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimalistinen Sovellus</title>
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <h1>Lisää uusi alue</h1>

    <!-- Näytetään virheilmoitus, jos lomakkeen tiedot ovat puutteelliset -->
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/create_region" method="POST">
        <label for="name">Alueen nimi:</label><br>
        <input type="text" id="name" name="name" placeholder="Kirjoita alueen nimi" required><br><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <label for="description">Kuvaus:</label><br>
        <textarea id="description" name="description" placeholder="Kirjoita alueen kuvaus" rows="4" required></textarea><br><br>

        <button type="submit">Luo alue</button>
    </form>

    <p>
        <a href="/">Palaa takaisin etusivulle</a>
    </p>
</body>
</html>
