<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tervetuloa</title>
</head>
<body>
    <h1>Tervetuloa keskustelufoorumille!</h1>

    {% if username %}
        <p>Hei, {{ username }}!</p>
        <p>
            <a href="/logout">Kirjaudu ulos</a>
        </p>
    {% else %}
        <p>
            <a href="/create_account">Luo käyttäjä</a>
        </p>
        <p>
            <a href="/login">Kirjaudu</a>
        </p>
    {% endif %}

</body>
</html>
