<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Naapurusto</title>
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <a href="/" class="back-button">
        <button type="button">Takaisin pääsivulle</button>
    </a>
    <div class="header">
        <h1>Alue: {{ region.name }}</h1>
        <p>{{ region.description }}</p>
    </div>
    <div class="container">
        <div class="search">
            <h4>Haku</h4>
            <form action="/region/{{ region.id }}/topic_search" method="GET">
                <label for="query">Hae topicceja:</label>
                <input type="text" id="query" name="query" placeholder="Hakusana">
                <button type="submit">Hae</button>
            </form>
        </div>
        <div class="topics">
            <h2>Topicit</h2>
            <ul>
                {% for topic in topics %}
                    <li>
                        <a href="/topic/{{ topic.id }}">{{ topic.title }}</a> 
                        - {{ topic.description }}
                        <br>
                        <small>{{ topic.post_count }} viestiä</small>
                    </li>
                {% else %}
                    <p>Tällä alueella ei ole vielä topicceja.</p>
                {% endfor %}
            </ul>
            {% if session.get("user_id") %}
            <p>
                <a href="/region/{{ region.id }}/new_topic">
                    <button>Luo uusi keskustelu</button>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
</body>
</html>
